<h3>Request the adoption for {{dog.dogName}} ({{dog.dogBreed}})</h3>

<p>The purpose of this questionnaire is to assess compatibility between you and your potential 
  animal companion, ensuring harmonious coexistence.<br>
  Kindly respond to each question with clarity and honesty, 
  and feel free to elaborate on your answers as much as you'd like.</p>

<form action="/request-dog/{{dog.id}}" method="POST">

<div class="adoptionRequestForm">

<div>
  <div>
    <label for="adopterAge">Enter your age</label>
    <input type="number" id="adopterAge" name="adopterAge" />
  </div>

  <div>
    <label for="dailyHoursAway">How many hours (in average) do you spend out of
      home each day?</label>
    <input type="number" id="dailyHoursAway" name="dailyHoursAway" min="0" max="24" />
  </div>

  <div>
    <label for="hasExperience">Have you had any pets in the past?</label>
    <input type="checkbox" id="hasExperience" name="hasExperience" />
  </div>

  <div>
    <label for="hasGarden">Do you have a terrace or a garden in your house?</label>
    <input type="checkbox" id="hasGarden" name="hasGarden" />
  </div>

  <div>
    <label for="hasKids">Do you have kids?</label>
    <input type="checkbox" id="hasKids" name="hasKids" />
  </div>

  <div>
    <label for="hasOtherPets">Do you have other pets in the house? If yes, specify which one(s)</label>
    <input type="checkbox" id="hasOtherPets"" name="hasOtherPets"" />
  </div>

  <div>
    <label for="OtherPets">If applicable, specify which other pet(s) you have</label>
    <textarea
      id="OtherPets"
      name="OtherPets"
      cols="40"
      rows="1"
    ></textarea>
  </div>

  <div>
    <label for="numberOfPeople">How many people live in your house?</label>
    <input type="number" id="numberOfPeople" name="numberOfPeople" />
  </div>

  <div>
    <label for="numberOfTrips">How many trips (in average) do you do each year?</label>
    <input type="number" id="numberOfTrips" name="numberOfTrips" />
  </div>

  <div>
    <label for="monthlyMoney">Which would be the expected monthly allowance for the dog (in euros)?</label>
    <input type="number" id="monthlyMoney" name="monthlyMoney" />
  </div>

  <div>
    <label for="adopterDescription">Could you tell us a bit more about yourself and why you want to adopt this dog?</label>
    <textarea
      id="adopterDescription"
      name="adopterDescription"
      cols="70"
      rows="5"
    ></textarea>
  </div>
</div>

<div>
    {{#if dog.dogPhotoURL}}
      <img
        src="{{dog.dogPhotoURL}}"
        alt="{{dog.dogBreed}}"
        height="450px"
        style="border-radius: 10px;"
      />
    {{/if}}
</div>

</div>

  <button type="submit">Send the adoption request</button>

  <p>Upon sending the adoption request, the dog shelter admin will
    receive a confirmation email.</p>

</form>