<h3>Pending Adoption Requests</h3>
<ul>
  {{#each adoptionRequests}}
    {{#unless this.requestApproved}}
      <li>
        <a href="/adoption-requests/{{this.userId}}_{{this.dogId}}">
          {{this.user.firstName}}
          {{this.user.lastName}}
          would like to adopt
          {{this.dog.dogName}}
        </a>
      </li>
    {{/unless}}
  {{/each}}
</ul>