<div class="singleDogForUsers">
  <div>
    <p><b>Dog Name:</b> {{dog.dogName}}</p>
    <p><b>Dog Age:</b> {{dog.dogAge}} years</p>
    <p><b>Dog Weight:</b> {{dog.dogWeight}} kilos</p>
    <p><b>Dog Sex:</b> {{dog.dogSex}}</p>
    <p><b>Dog Breed:</b> {{dog.dogBreed}}</p>
    <p><b>Is this dog suitable for kids?</b>
      {{booleanConverter dog.suitableForKids}}</p>
    <p><b>Is this dog suitable for other pets?</b>
      {{booleanConverter dog.suitableForOtherPets}}</p>
    <p><b>Is this dog potentially dangerous?</b>
      {{booleanConverter dog.potentiallyDangerousDog}}</p>
    <p><b>Is this dog sterilized?</b> {{booleanConverter dog.isSterilized}}</p>
    <p><b>Is this dog vaccinated?</b> {{booleanConverter dog.isVaccinated}}</p>
    <p><b>Dog Description:</b> {{dog.dogDescription}}</p>
    <p><b>Dog Adopted:</b> {{booleanConverter dog.dogAdopted}}</p>

  </div>

  <div>
    {{#if dog.dogPhotoURL}}
      <img
        src="{{dog.dogPhotoURL}}"
        alt="{{dog.dogBreed}}"
        height="450px"
        style="border-radius: 10px;"
      />
    {{/if}}
  </div>
</div>

{{#unless dog.dogAdopted}}
  <div>
    <a href="/request-dog/{{dog.id}}">
      <button>Request Adoption for this Dog</button>
    </a>
  </div>

  <div>
    <a href="/dog/pending">
      <button>View All Dogs Pending Adoption</button>
    </a>
  </div>
{{/unless}}

{{#if dog.dogAdopted}}
  <div>
    <a href="/dog/adopted">
      <button>View All Adopted Dogs</button>
    </a>
  </div>
{{/if}}

{{#if user.isAdmin}}
  {{#unless dog.dogAdopted}}
    <div>
      <a href="/update-dog/{{dog.id}}">
        <button>Update Dog Details</button>
      </a>
    </div>

    <div>
      <form action="/dog/delete/{{dog.id}}?_method=DELETE" method="post">
        <button>Delete Dog from Database</button>
      </form>
    </div>
  {{/unless}}
{{/if}}